%h2= @page_title = "Record a Match"

.span-11.colborder
  - form_for @game do |f|
    %p
      %b Winner
      %br
      = "#{current_user.name.split(' ')[0]} (#{current_user.email})"
    %p
      = f.label :loser_id, "Loser"
      = error_messages @game, :loser_id
      %br
      = f.select :loser_id, [["",""]] + User.all.reject{|u| u == current_user}.map{|u| ["#{u.name.split(' ')[0]} (#{u.email})", u.id]}
    %p= f.submit "Submit"

.span-12.last
  %p
    %b Only the winner can record the results of a match.